# Visual Studio Code
.vscode/

# node modules
client/node_modules
client/npm-debug.log
server/node_modules
server/npm-debug.log
```

# package.json
client/package.json
client/package-lock.json
server/package.json
server/package-lock.json